@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto+Mono:wght@700&display=swap');

/************************************************************
*
*               Variables
*
************************************************************/
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #FF9F1C;
    --secondary-color: #FFBF69;
    --accent1-color: #CBF3F0;
    --accent2-color: #2EC4B6;

    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto Mono", Helvetica, sans-serif;
    --paragraph-font: Inter, Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #2EC4B6;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #2EC4B6; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #2EC4B6;
    --nav-link-color: #2EC4B6;
    --nav-background-color: #FFBF69;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #2EC4B6;
    --color-white: #fff;
    --footer-background: #FFBF69;
    --heading-color: #fff;
    /* call values defined by -> var(--property_name) */
}

/************************************************************
*
*               GENERAL HTML TAGS
*
************************************************************/

h1, h2 {
    /* padding: 0.5em; */
    margin: 0;
}

h3, h4 {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    letter-spacing: 3px;
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    text-align: left;
    font-family: var(--paragraph-font);
}

a {
    text-decoration: none;
    font-family: var(--paragraph-font);
}

ul{
    text-align: left;
}

li {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 0.4em;
}

label{
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 0.4em;
    font-size: 1.6rem;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--accent2-color);
}

input[type='radio']:checked:after {
    background-color: #ffa500;
}

input[type='text'],input[type='email']{
    font-size: 1.8rem;
    display: inline-block;
    margin-right: -50%;
}

input[type=submit] {
    background-color: var(--accent2-color); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: var(--paragraph-font);
    display: block;
    margin-left: auto;
    margin-right: 0;
}

/************************************************************
*
*               BODY AND BACKGROUND
*
************************************************************/

html, body {
    margin: 0;
    padding: 0;
}

.body-background{
    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: var(--color-white);
    background-image: url(../images/Optimized/paws/paws-bones-1-background.png);
    background-repeat: repeat; 
    opacity: 0.05;
    z-index: -1;
}

/************************************************************
*
*               HEADER
*
************************************************************/

header {
    background-color: var(--nav-background-color);
    display: grid;
    align-items: center;
    grid-template-columns: 300px auto;
    position: relative;
    z-index: 2;
}

nav {
    grid-column: 2;
    background-color: var(--heading-background);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    justify-items: center;
    border-top: 1px solid var(--accent2-color);
    border-bottom: 1px solid var(--accent2-color);
}
  
nav a {
    color: var(--nav-link-color);
    padding: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--heading-font);
}
  
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
  
#logo_link {
    width: 320px;
    background-color: var(--heading-background);
    height: 120px;
    display: flex;
    justify-content: center;
    align-self: center;
}
  
#logo_link > img {
    grid-column: 1;
    width: 200px;
    align-self: center;
}

#logo_link > img:hover {
    /* filter: drop-shadow(10px 2px 20px rgb(255, 255, 255)); */
    /* -webkit-filter: drop-shadow(10px 3px 40px rgba(0,0,0,0.5)); */
    filter: drop-shadow(10px 2px 20px rgb(255, 255, 255));
}

/************************************************************
*
*               FOOTER
*
************************************************************/

footer {
    color: var(--color-white);
    background-color: var(--footer-background);
    padding: 25px 50px;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}
  
footer h3,
footer a {
    color: var(--color-white);
}

/* footer a:hover */
footer h3 a:hover{
  text-decoration: underline;
}

footer .social img{
    width: 40px;
}

/************************************************************
*
*               MAIN, CONTENT AND HOMEGRID
*
************************************************************/

#content {
    max-width: 1600px;
    margin: auto;
    background-color: var(--color-white); /*In case is preferred to leave image as total background, comment this line*/
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

/************************************************************
*
*               HOMEPAGE
*
************************************************************/

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 0.2fr);
}

/*#region image slider*/
.slider-container{
    height: 70vh;
    width: 100%;
    position: relative;
    overflow: hidden; 
    text-align: center;
}

.slider-container img {
    max-width: 100%;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
}

.menu label:hover{
    background: var(--primary-color);
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide-1 {
    background-image: url("../images/Optimized/home-banners/home-slider-1.jpg");
}
.slide-2 {
    background-image: url("../images/Optimized/home-banners/home-slider-2.jpg");
}
.slide-3 {
    background-image: url("../images/Optimized/home-banners/home-slider-3.jpg");
}

.transbox {
    background-color: rgba(15, 15, 15, 0.7);
    /* Opacity can be given to background with rgba*/
    width:fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*#endregion image slider*/

/*#region paragraph below image slider*/
.wrapper-statistics {
    grid-column: 2/10;
    grid-row: 2;
    display: flex;
    width: 100%;
    flex: auto;
}
  
.wrapper-paragraph {
    font-size: 1.5rem;
    width: 100%;
}
  
.wrapper-image-div {
    background-image: url('../images/Optimized/paws/paws-path-1.png');
    background-position: center;
    background-size:cover;
    width: 10%;
}
/*#endregion paragraph below image slider*/

/*region lost-dog*/
.bg-responsible-care{
    display: grid;
    grid-row: 4/9;
    grid-column: 1/11;
    background-color: var(--accent2-color);
}

.disclaimer-lost{
    grid-column: 1/6;
}

.disclaimer-lost p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.3rem;
    color: white
}

.img-lost{
    grid-column: 8/10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-lost img{
    width: 100%;
    height : 100%;
    max-height: 90%;
    max-width: 100%;
    padding: 10%;
    padding-top: 0%;

}
/*endregion lost-dog*/

/************************************************************
*
*               LOST PETS
*
************************************************************/

/*#region pet rows/columns*/
.pet-row{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
  
.pet-col{
    padding: 15% 15%;
}
/*#endregion pet rows/columns*/

/*#region pet card*/
.pet-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.pet-card h1,p{
    color: var(--accent2-color);
}

.pet-card p{
    text-align: center;
}

.pet-card a{
    color: white;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}
/*endregion pet card*/

/************************************************************
*
*               CONTACT US
*
************************************************************/

.contact-main{
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
}

/*#region Table from Contact Us Secondary Page - Values & Suggestion */
.table-contact-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.table-contact-col{
    padding: 0%;
}

.table-contact-col ul{
    margin: 20px 0;
}
.table-contact-col ul li{
    margin: 15px 0;
    size: 20px;
}

.contact-column1{
    background-color:#ffbe6999;
}

.contact-column2{
    background-color:#ffbe696b;
}

.contact-column3{
    background-color:#ffbe693b;
}

.table-contact-col h3{
    padding: 0%;
    text-align: center;
}
/*#endregion Table from Contact Us Secondary Page - Values & Suggestion */

.contact-row-master{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 0.4fr);
    padding: 0%;
    background-color: #eed3b14b;
}

.contact-image{
    grid-column: 4/5;
    grid-row: 2;
}

.contact-image img{
    width: 80%;
}

.contact-form{
    grid-column: 2/3;
    grid-row: 2;
}

form {
  direction:inherit;
}

#fname{
    /* width: 77%; */
    display: block;
  direction: ltr;
}

#flname{
    /* width: 60%; */
    display: block;
  direction: ltr;
}

#femail{
    /* width: 78%; */
    display: block;
  direction: ltr;
}

#fsubject{
    /* width: 106%; */
    display: block;
  direction: ltr;
}

/************************************************************
*
*               MEDIA SCREEN
*
************************************************************/

@media screen and (max-width: 900px) {
    header,
    nav {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  
    #logo_link {
      background-color: unset;
      width: auto;
    }
  
    nav,
    footer {
      flex-direction: column;
    }
  
    nav a {
      display: block;
      padding: 15px;
    }

    footer {
      margin-top: 25px;
    }
}