@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto+Mono:wght@700&display=swap');

/************************************************************
*
*               Variables
*
************************************************************/
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #FF9F1C;
    --secondary-color: #FFBF69;
    --accent1-color: #CBF3F0;
    --accent2-color: #2EC4B6;

    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto Mono", Helvetica, sans-serif;
    --paragraph-font: Inter, Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #2EC4B6;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #2EC4B6; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #2EC4B6;
    --nav-link-color: #2EC4B6;
    --nav-background-color: #FFBF69;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #2EC4B6;
    --color-white: #fff;
    --footer-background: #FFBF69;
    /* call values defined by -> var(--property_name) */
}

/************************************************************
*
*               BODY AND BACKGROUND
*
************************************************************/

html, body {
    margin: 0;
    padding: 0;
}

.body-background{
    height:100%;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: var(--color-white);
    background-image: url(../images/Optimized/paws/paws-bones-1-removebg-preview.png);
    background-repeat: repeat; 
    opacity: 0.05;
    z-index: -1;
}

/************************************************************
*
*               HEADER
*
************************************************************/

header {
    background-color: var(--nav-background-color);
    display: grid;
    align-items: center;
    grid-template-columns: 300px auto;
    position: relative;
    z-index: 2;
}

nav {
    grid-column: 2;
    background-color: var(--heading-background);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    justify-items: center;
    border-top: 1px solid var(--accent2-color);
    border-bottom: 1px solid var(--accent2-color);
}
  
nav a {
    color: var(--nav-link-color);
    padding: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--heading-font);
    text-decoration: none;
}
  
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
  
#logo_link {
    width: 320px;
    background-color: var(--heading-background);
    height: 120px;
    display: flex;
    justify-content: center;
    align-self: center;
}
  
#logo_link > img {
    grid-column: 1;
    width: 200px;
    align-self: center;
    filter: drop-shadow(10px 2px 20px rgb(255, 255, 255));
}

/************************************************************
*
*               FOOTER
*
************************************************************/

footer {
    color: var(--color-white);
    background-color: var(--footer-background);
    padding: 25px 50px;
    margin: 200px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
  }
  
  footer h3,
  footer a,
  footer a:hover {
    color: var(--color-white);
  }

  footer a{
    text-decoration: none;
  }

  footer a:hover{
    text-decoration: underline;
  }

footer .social img{
    width: 64px;
}


/************************************************************
*
*               MAIN, CONTENT AND HOMEGRID
*
************************************************************/

#content {
    max-width: 1600px;
    margin: auto;
    background-color: var(--color-white); /*In case is preferred to leave image as total background, comment this line*/
}

main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/************************************************************
*
*               MEDIA SCREEN
*
************************************************************/

@media screen and (max-width: 900px) {
    header,
    nav {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  
    #logo_link {
      background-color: unset;
      width: auto;
    }
  
    nav,
    footer {
      flex-direction: column;
    }
  
    nav a {
      display: block;
      padding: 15px;
    }

    footer {
      margin-top: 25px;
    }
  }